/* Add CSS Styling */

.base {
    background-color: rgba(255, 167, 167);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#id-1{
    color: blue;
    font-size: 36px;

}

.base.add {
    font-size: 24px;
}

#id-2 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
} 