/* Add CSS Styling */

.button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', serif;
}

.first {
    color: white;
    background-color: rgb(0, 0, 0);
}

.second {
    color: black;
    background-color: yellow
}